PORT=5000
SUPABASE_URL=https://yksgprwlozrnyjqdlyt.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlrc2dwZ3J3bG96cm55anFkbHl0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjMyNzI0NSwiZXhwIjoyMDkxOTAzMjQ1fQ.shpHy4GNcYdXuo0F704Y2E3ZY5lOxny_hATjng7jsZI
JWT_SECRET=your_jwt_secret_minimum_32_characters_long
CLOUDINARY_CLOUD_NAME=drnjawuud
CLOUDINARY_API_KEY=873261197547215
CLOUDINARY_API_SECRET=MF_idEZ61xCxtcVaAEbx11V_rto
ADMIN_EMAIL=admin@automateiq.com
ADMIN_PASSWORD=admin123
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_gmail@gmail.com
SMTP_PASS=your_gmail_app_password
NOTIFY_EMAIL=your_gmail@gmail.com
FRONTEND_URL=http://localhost:5174
